<%- include("partials/header") -%>
<div class="container">

<h1>About</h1>
<h4>“The life of every man is a diary in which he means to write one story, and
writes another; and his humblest hour is when he compares the volume as it is
with what he vowed to make it.” — J.M. Barrie</h4>
</div>

<%- include("partials/footer") -%>
