<%- include("partials/header") -%>


<div class="container">

<h1>Contact</h1>

<h3>For any Queries contact</h3>
<h4>Email : sams@gmail.com</h4>
<h4>Phone : +1 8142703</h4>

</div>

<%- include("partials/footer") -%>
